$danger: #f9c6b7;
$primary: #fcdec7;
$warning: #ce863e;
$info: #1d1d1b;
$success: #f7e9e2;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";

@import "../node_modules/bootstrap/scss/grid";
